body
{
    width: 1024px;
    height: 1150px;
    border:1px solid black;
    margin:auto;/*pour centrer ma page*/
    
}

@font-face 
{
    font-family: 'allerregular';
    src: url('aller_rg-webfont.woff2') format('woff2'),
         url('aller_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@media screen and (max-width:400px)
{
   body
   {
       height: 1150px;
       margin: auto;
       width: 400px;
    flex-wrap: wrap;
    border:none;
    
   }
       
   
   .form
   {
       padding-left: 70px;
       width: 310px;
    position: relative;
    top: 630px;
    right: 300px;
   }
   .sec-annee1
   {
    width: 300px;
    position: relative;
    top: 560px;
    right: 310px;
   }
  
   .sec-droite1
   {
    width: 240px;
    position: relative;
    top: 470px;
    right: 680px;
   }
   .sec-droite3
   {
    width: 290px;
    position: relative;
    top: 760px;
    right: 677px;
   }
   .sec-annee3
   {
     display: none;
   }
   .mail 
   {
    width: 300px;
    position: relative;
    top: 940px;
    right: 280px;
   }
    .rec
    {
        padding-right: 70px;
    width: 290px;
    position: relative;
    top: 1047px;
    right: 280px;
    }
    .mentor
    {
       
     width: 300px;
    position: relative;
    top: 1045px;
    right: 280px;
    }
    
   .exp
   {
    padding-left: 70px;
    width: 320px;
    position: relative;
    top: 880px;
    right: 300px;
   }
   .sec-gauche
   {
    display: inline;
    word-wrap: break-word;
    
   } 
  
   .prenom
   {
       width: 200px;
    position: relative;
    bottom: 920px;
    right: 320px;
   }
   .op
   {
    position: relative;
    
    right: 40px;
   }
       
   .deve
   {
     display: none;
   }  
   

   .info
   {
       display: inline;
   }

   .contac
   {
       
       width: 300px;
       position: relative;
       top: 170px;
   }
   .adresse
   {
       position: relative;
       top: 155px;
       left: 10px;
   }
   .email
   {
    position: relative;
    top: 155px;
    left: 10px;
   }
   .loisir
   {
       width: 300px;
       position: relative;
       top:780px;
    
   }
   .com
   {
    position: relative;
    top:770px;
    left:40px;
   }
   .pro
   {
       width: 310px;
       position: relative;
       top:100px;
   }
   .centrer
   {
       width: 300px;
       position: relative;
       top: 110px;
       left: 10px;

   }
}



.sec-gauche
{

    
    width: 248px;
    background-color: #f1c40f;
    height: 1150px;
    
}
.info
{
    position: relative;
    bottom: 95%;
    left: 330px;
}

    
.sec-milieu
{
    width: 700px;
    position: relative;
    bottom: 95%;
    left: 300px;
}
   
   
   

.imag
{
   margin-top: 30px;
    margin-left: 70px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.sec-droite1
{
    height: 170px;
    float:right;
    margin-left: 200px;
    position: relative;
    bottom:80px;
}

.sec-droite2
{
    height: 70px;
    float:right;
    margin-left: 200px;
    position: relative;
    bottom:80px;
}

.sec-droite3
{
    height: 120px;
    float:right;
    margin-left: 200px;
    position: relative;
    bottom:80px;
}

.sec-annee1
{
    padding: 20px;    
   
}
.sec-annee2
{
    padding: 20px;    
    position: relative;
    top:10px;
}
.sec-annee3
{
    padding: 20px;    
    position: relative;
    top:10px;
}
   

.pro
{
    
    background-color: black;
    color: #f1c40f;
    margin-top: 70px;
    margin-bottom: 40px;
    height: 20px;
    padding-left: 60px;
    padding-top: 5px;
    
}

.contac
{
    margin-bottom: 35px;
    background-color: black;
    color: #f1c40f;
    height: 20px;
    padding-left: 70px;
    padding-top: 5px;
}
p
{
   margin-left: 4px;
}

.loisir
{
    
    background-color:black;
    color: #f1c40f; 
    margin-top: 240px;
    margin-bottom: 20px;
    height: 20px;
    padding-left: 90px;
    padding-top: 5px;
    
}

h1
{
     font-size:3em;
    font-family: Ariel vernada;
    position: relative;
    right:80px;
    bottom: 50px;
}
.em
{
    font-style:normal;
    font-size: 1em;
    border-bottom:#f1c40f 2px solid;
    margin-left: 30px;
}
.centrer
{
    margin-left: 2px;
    padding-left: 6px;
    
    color: black ;
    
}

.adresse
{
    
    color: black ;
    width: 248px;
}

.form
{
    border-bottom: #f1c40f 2px solid;
    color:black;
    font-weight: bold;
   margin-top: 10px;
   margin-bottom: 70px;
  
}
.exp
{
   
    border-bottom: #f1c40f 2px solid;
    font-weight: bold;
    color: black;
    margin-bottom: 100px;
}
.rec
{
    
    border-bottom: #f1c40f 2px solid;
    font-weight: bold;
    margin-right: 10px;
    
}

.ims
{
    
    margin-right: 50px;
}
.deve
{
    font-size: 1em;
    position: relative;
    bottom:95px;
    right: 70px;
    
}
.prenom
{
    font-size: 3em;
    color: #f1c40f;
    margin-top: 40px;
    margin-top: 30px;
    
}
strong
{
    color: #f1c40f;
}
.op
{
    font-weight: bold;
    color: black;
    margin-left: 30px;
}
.com
{
  
   
    color: black ;  
}
.com1
{
   border-radius: 30px;
   border: 1px solid black;
   margin: 5px;
  

}
.com2
{
    border-radius: 30px;
    border: 1px solid black;
    margin: 5px;
    
}
.com3
{
    border-radius: 30px;
    border: 1px solid black;
    margin: 5px;
    
}
.gras
{
    font-weight: bold;
    color:black;
    font-size: 1em;
    margin-bottom: 4px;
}
.gras1
{
    font-weight: bold;
    color:black;
    font-size: 1em;
    margin-bottom: 4px;  
}
.gras2
{
    font-weight: bold;
    color:black;
    font-size: 1em;
    margin-top: 20px;
}
a
{
    color: black;
}
