body
{
    width: 1024px;
    height: 1150px;
    border:1px solid black;
    margin:auto;/*pour centrer ma page*/
}

@font-face 
{
    font-family: 'allerregular';
    src: url('aller_rg-webfont.woff2') format('woff2'),
         url('aller_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@media screen and (max-width:768px)
{
   body
   {
       height: 2488px;
       border:1px solid black;
       
   }
   .prenom
   {
       
       width: 200px;
       
   }
   .op

   {
       position: relative;
       right: 30px;
   }
    .sec-gauche
   {
     font-size: 2em;
     height: 2348px;
   }
   
   footer
   {
       position: relative;
       top:870px;
   }
   nav
   {
       position: relative; 
       top: 350px;
       right: 40px;
   }
   .exp
   {
       position: relative;
       top:190px;
       left: 10px;
       width: 650px;
       
   }
   .sec-droite1
   {
       height: none;
       position: relative;
       right: 68px;
      
   }

   .sec-droite3
   {
       position: relative;
       right: 45px;
       top: 100px;
   }
   .email
   {
       word-wrap: break-word;
   }
   .sec-milieu
   {
       position: relative;
       top: 300px;
       font-size: 2em;
   }
   .sec-annee1
   {
    
        position: relative;
        top: 70px;
        right: 35px;
   }
   

   .sec-annee3
   {
    display: none;
    
   }
   .contac
   {
    background-color: black;
    padding: 40px;
   }
   .loisir
   {
    background-color: black;
    padding: 40px;
    position: relative;
    bottom:70px;
   }
   .com
   {
    position: relative;
    bottom:70px;
   }
   
   .pro
   {
    background-color: black;
    padding-bottom:60px;
    
   }

   .form
   {
       position: relative;
       top:30px;
       right: 10px;
       width: 650px;
   }
   .rec
   {
    position: relative;
    top:30px;
    right: 10px;
    width: 650px;
   }
   
}


.info
{
    width: 1034px;
    float: left;
    margin-left: 50px;
}


.sec-gauche
{

    float: left;
    width: 248px;
    background-color:#f1c40f;
    height: 1150px;
    
}
    
.sec-milieu
{
    margin-left: 280px;
    margin-top: 50px;
   width: 700px;
   position: absolute;
   top:0px;
   bottom: 0px;
}

.imag
{
   margin-top: 30px;
    margin-left: 70px;
    height: 130px;
    border-radius: 40px;
    margin-bottom: 50px;
}

.sec-droite1
{
    height: 170px;
    float:right;
    margin-left: 200px;
    position: relative;
    bottom:80px;
}

.sec-droite2
{
    height: 70px;
    float:right;
    margin-left: 200px;
    position: relative;
    bottom:80px;
}

.sec-droite3
{
    height: 120px;
    float:right;
    margin-left: 200px;
    position: relative;
    bottom:80px;
}

.sec-annee1
{
    padding: 20px;    
   
}
.sec-annee2
{
    padding: 20px;    
    position: relative;
    top:10px;
}
.sec-annee3
{
    padding: 20px;    
    position: relative;
    top:10px;
}
   

.pro
{
    
    background-color: black;
    color: #f1c40f;
    margin-top: 70px;
    margin-bottom: 40px;
    height: 20px;
    padding-left: 60px;
    padding-top: 5px;
    
}

.contac
{
    margin-bottom: 35px;
    background-color: black;
    color: #f1c40f;
    height: 20px;
    padding-left: 70px;
    padding-top: 5px;
}
p
{
   margin-left: 4px;
}

.loisir
{
    
    background-color:black;
    color: #f1c40f; 
    margin-top: 240px;
    margin-bottom: 20px;
    height: 20px;
    padding-left: 90px;
    padding-top: 5px;
    
}

h1
{
     font-size:3em;
    font-family: Ariel vernada;
    position: relative;
    right:80px;
    bottom: 50px;
}
.em
{
    font-style:normal;
    font-size: 1em;
    border-bottom:#f1c40f 2px solid;
    margin-left: 30px;
}
.centrer
{
    margin-left: 2px;
    padding-left: 6px;
    background-color: #f1c40f;
    color: black ;
    
}

.adresse
{
    background-color: #f1c40f;
    color: black ;
    width: 248px;
}

.form
{
    border-bottom: #f1c40f 2px solid;
    color:black;
    font-weight: bold;
   margin-top: 10px;
   margin-bottom: 70px;
  
}
.exp
{
   
    border-bottom: #f1c40f 2px solid;
    font-weight: bold;
    color: black;
    margin-bottom: 100px;
}
.rec
{
    
    border-bottom: #f1c40f 2px solid;
    font-weight: bold;
    margin-right: 10px;
    
}

.ims
{
    
    margin-right: 50px;
}
.deve
{
    font-size: 1em;
    position: relative;
    bottom:95px;
    right: 70px;
    
}
.prenom
{
    font-size: 3em;
    color: #f1c40f;
    margin-top: 40px;
    margin-top: 30px;
    
}
strong
{
    color: #f1c40f;
}
.op
{
    font-weight: bold;
    color: black;
    margin-left: 30px;
}
.com
{
  
   background-color: #f1c40f;
    color: black ;  
}
.com1
{
   border-radius: 30px;
   border: 1px solid black;
   margin: 5px;
  

}
.com2
{
    border-radius: 30px;
    border: 1px solid black;
    margin: 5px;
    
}
.com3
{
    border-radius: 30px;
    border: 1px solid black;
    margin: 5px;
    
}
.gras
{
    font-weight: bold;
    color:black;
    font-size: 1em;
    margin-bottom: 4px;
}
.gras1
{
    font-weight: bold;
    color:black;
    font-size: 1em;
    margin-bottom: 4px;  
}
.gras2
{
    font-weight: bold;
    color:black;
    font-size: 1em;
    margin-top: 20px;
    
}
a
{
    color: black;
}

